:root {
  --primary-text-color: #fff;
  --background-color: #24252A;
  --secondary-text-color: #969899;
  --button-color: #62d3f5;
}

body {
  font-family: 'Open Sans', sans-serif, Helvetica, arial, sans-serif;
  font-size: 14px;
  color: rgba(255,255,255,0.7);
  line-height: 23px;
  background-color: #34383c;
  margin: 0 auto;
  scroll-behavior: smooth;
  line-height: 23px;
}

.burger {
  display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.burgerInner {
  width: 100%;
    height: 2px;
    background: white;
    border-radius: 10px;
    transition: all 0.3s linear 0s;
}

.container {
  margin: 0px auto;
  background-color: var(--background-color);
}

.footer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(23, 24, 27);
  transition: all 0.15s ease-in-out 0s;
  padding-left: 16px;
}

.footerInner {
    width: 160px;
    display: flex;
    flex-direction: column;
}

.footerOuter {
  border-bottom: 1px solid rgb(48, 49, 52);
  align-items: flex-start;
  padding-top: 64px;
  margin-bottom: 0px;
  margin-left: 16px;
}

.footerCopyText {
  margin-bottom: 32px;
  min-width: 300px !important;
  opacity: 0.48;
  color: rgb(255, 255, 255);
  text-align: left;
  font-size: 16px !important;
}

.footerFirst {
  margin-right: 16px;
  min-width: 250px;
}

.footerText {
  padding-bottom: 4px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.footerTextBlocks {
  flex-direction: column;
  min-width: 245px;
  padding-top: 0px;
  margin: 16px 32px 32px 0px;
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  max-width: 630px;
  flex: 1 1 0%;
}

.footerTextBlocksInner {
  margin-bottom: 16px;
  width: 160px;
  display: flex;
  flex-direction: column;
}

.hero {
  padding-top: 160px;
  height: 90vh;
}

.heroInner {
  align-items: center;
  padding: 0 50px;
  max-width: 100%;
}

header {
  display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: transparent;
    min-height: 72px;
    padding: 0px 32px;
}

.Mee6 {
  font-family: Poppins;
  font-weight: bold;
  font-size: 23px;
  letter-spacing: 0.55px;
  text-align: center;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.login {
  text-align: center;
  background-color: var(--button-color);
  color: var(--primary-text-color);
  border-radius: 3px;
  border: none;
  padding: 10px 25px;
}

h1 {
  color: var(--primary-text-color)
}

.heroButton {
  display: flex;
  flex-direction: column;
color: var(--primary-text-color);
width: 100%;

}

.heroButton1 {
  width: 100%;
  background-color: var(--button-color);
  color: var(--primary-text-color);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Open Sans', Helvetica, arial, sans-serif;
  line-height: 1;
  font-weight: 600;
  cursor: pointer;
  min-height: 32px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  border-radius: 3px;
  border: none;
  font-size: 18px;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 10px 30px;
  margin: 10px auto;
}

.heroBtn {
  align-items: center;
}

.heroButton2 {
  border-radius: 3px;
  font-size: 18px;
border: none;
  height: 60px;
  width: 100%;
  color: var(--primary-text-color);
  background-color: #000;
}

.hero h1{
  text-transform: none;
    font-size: 35px;
    line-height: 1.3;
    text-align: center;
}

.hero p{
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 28px;
  text-align: center;
  line-height: 1.8;
}

.navBarActive {
  max-height: 800px;
}

.navBarInactive {
  max-height: 0px;
  overflow: hidden;
  transition: all 250ms ease-in 0s;
}

.navBar {
  list-style: none;
}

.navText {
  background-color: rgb(19, 20, 22);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.navTextInner {
  display: block;
  color: rgb(255, 255, 255);
  font-weight: 400;
  cursor: pointer;
  font-size: 14px;
  padding: 15px 0px 15px 15px;
}

section {
  padding: 0 40px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionImg img {
  width: 100%;
}

.sectionText {
  align-items: center;
}

.sectionText h1 {
  font-size: 26px;
  text-align: center;
  line-height: 1.5em;
}

.sectionText p {
  font-size: 20px;
  text-align: center;
  color: var(--secondary-text-color);
  line-height: 1.8em;
}

.section::after {
  content: "";
  display: block;
  margin: 150px 0;
  width: 50%;
}

@media (max-width: 970px) {
  .section::after {
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
}
